.main .sidebarWrapper{width: 20%;flex: 0 0 20%; transition: all 0.3s ease-in-out;}
  .main .sidebarWrapper .sidebar{width: 30%; height: 100vh;position: fixed; top: 70px;left: 0px;
    background: #fff;}