.carousel-indicators [data-bs-target]{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

.carousel{
    box-shadow: 0 0 10px rgb(23, 23, 23, 0.4) !important;
}

.carousel-item{
    position: relative;
}

.carousel-item .flou{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(23, 23, 23 ,0.4);
    z-index: 1;
}

.carousel-item img{
    position: relative;
    z-index: 0;
}

.carousel-caption{
    z-index: 2;
}

.carousel-caption h3{
    color: whitesmoke;
}